<div class="item">
  <div class="itemImage">
    <img src={{Image}}></img>
    <div class="image_label">{{Planet}}</div>
  </div>
  <div class="itemText">
    <p class="summary">{{Summary}}</p><br>
    <a href={{Slug}} target="_blank"><p>--> Click here to learn more</p></a>
  </div>
</div>
